{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6  mx-auto">
            <div class="card">
                <div class="card-header text-center text-uppercase">Log in</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input class="btn btn-primary px-4 mt-3" type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}