<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    {% bootstrap_css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
    
    <!-- Responsive Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Aincrad</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item me-5"><a class="nav-link" href="{% url 'post_create' %}">+ POST</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'user_index' user.pk %}">Hello, {{ user.first_name }}</a></li>
                        <li class="nav-item"><a class="nav-link fs-6" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block messages %} {% include 'commons/messages.html' %} {% endblock messages %}
    {% block content %}

    {% endblock content %}
    <footer class="bg-dark">
        <div class="container">
            <br/>
            <p class="m-0 text-center text-white">Made by Leo with &#9829;</p>
            <p class="m-0 text-center text-muted">Contact me at: thanhlieu9620@gmail.com</p>
        </div>
    </footer>

    {% bootstrap_javascript %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>